@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;800&family=Poppins:wght@400;700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

:root {
    --nav-bar: #212121;
    --background-color: #262626;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@viewport {
    width: device-width;
    /* Sets the viewport width to the device width */
    min-zoom: 1.0;
    /* Sets the minimum zoom level to 1.0 */
    max-zoom: 1.0;
    /* Sets the maximum zoom level to 1.0 */
    user-zoom: fixed;
    /* Disables user zooming */

}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    /* 1 rem = 10px */
    touch-action: pan-x pan-y;
    /* Disables double tap zoom in iOS Safari */
    -ms-touch-action: pan-x pan-y;
    /* Disables double tap zoom in IE10+ */
    -webkit-text-size-adjust: 100%;
    /* Prevent font scaling in iOS Safari */
}

.header {
    background-color: var(--nav-bar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 4rem;
}

.logo {
    height: 7rem;
    width: 7rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 8rem;
}


.navbar-list li a:link, .navbar-list li a:visited {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.search-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.user-icon {
    width: 4rem;
    height: 4rem;
}

.dashboard-btn {
    background-color: #2EB2FF;
    color: black;
    font-family: 'Roboto';
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 7px;
    border-color: white;
    line-height: 14px;
    text-transform: uppercase;
}

.mobile-navbar-icon {
    color: white;
}


.mobile-navbar-btn {
    display: none;
    cursor: pointer;
}

.mobile-navbar-icon[name="close-outline"] {
    display: none;
}

/* nav-bar ends here...*/


.hero-section, .topic-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh;
}

.container {
    padding: 8vh 8vw;
    width: 80%;
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    background: #FFFFFF4D;
    border: 10px solid #FFFFFF4D;
    box-shadow: 8px 7px 4px 0px #FFFFFF1F;
}

.searchbox {
    height: 10vh;
    width: 25vw;
    border-radius: 15px;
    margin: 1vh auto;
    display: flex;
    align-items: center;
    gap: 1vw;
    padding: 4vh 1.5vw;
    color: #504f4ed1;
    background: rgba(255, 255, 255, 0.3);
    border: 3px solid rgba(255, 255, 255, 0.3);
    box-shadow: 8px 7px 4px rgba(255, 255, 255, 0.12);


    font-family: 'Barlow';
    font-size: 2rem;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0.095em;
    text-align: left;
}





.content-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    margin-top: 3vh;
}

.left-container {
    height: 100%;
    width: 50%;
    font-family: 'Barlow';
    font-weight: 800;
    letter-spacing: 0.325em;
    text-align: left;
    font-size: 3vmin;
}

.right-container {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.right-container img {
    width: 100%;
}

.left-container h1 span {
    color: #2EB2FF;
}

.apply-now-btn {

    background: linear-gradient(93.98deg, rgba(78, 95, 255, 0.4) 0.75%, rgba(46, 178, 255, 0.315) 97.74%);
    border: 1px solid #C4B7B7;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 253, 253, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 15px;

    width: 10vmax;

    font-family: 'Barlow';
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.095em;
    text-align: center;

    padding: 10px 25px;

    color: white;
    z-index: -1;
}



/* hero section ends here */


.internship-container {
    background-color: #2EB2FF;
    width: 85%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#intern-container-id {
    padding: 4vh 3vw;
}

.intern-title {
    background: linear-gradient(93.98deg, rgba(250, 248, 248, 0.4) 0.75%, rgba(241, 231, 231, 0.3) 97.74%);
    border: 1px solid #FFFDFD;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 253, 253, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.099em;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 5px;
    color: #000000;
    opacity: 0.5;
}

.intern-background {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2vw;
    opacity: 0.4;
}

.intern-left-content-bg {
    width: 40%;
}

.intern-right-content-bg {
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1vw;
}

.intern-right-content-bg img {
    height: 12vh;
    width: 6vw;
}

.intern-left-content-bg img {
    height: 35vh;
    width: 25vw;
}

.intern-content-left {
    text-transform: capitalize;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;

    font-family: 'Barlow';
    font-size: 30px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: 0.155em;
    text-align: left;

}

.intern-content {
    position: relative;
}


.intern-content-left span {
    color: white;
}


#intern-para {
    margin-top: 7vh;
    font-family: 'Barlow';
    font-size: 1.7rem;
    font-weight: 800;
    line-height: 3.4rem;
    letter-spacing: 0em;
    text-align: left;
}

#intern-btn {
    /* apply now */
    background: linear-gradient(93.98deg, rgba(250, 248, 248, 0.4) 0.75%, rgba(241, 231, 231, 0.3) 97.74%);
    border: 1px solid #FFFDFD;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 253, 253, 0.4);
    backdrop-filter: blur(8px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
    /* find for me */
    width: 10vw;

    font-family: 'Barlow';
    font-size: 15px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0.095em;
    text-align: center;
}



.internship-opportunity {
    width: 80vw;
    margin: 2vh auto;
    padding: 2vh;
    margin-bottom: 48vh;
}

#internship-opportunity-head {
    display: flex;
    gap: 2vw;
    align-items: center;
    /* margin-bottom: 3vh; */
}

.virtual-internship-btn {
    background: linear-gradient(93.98deg, rgba(250, 248, 248, 0.4) 0.75%, rgba(241, 231, 231, 0.3) 97.74%);
    border: 1px solid #FFFDFD;
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);
    border-radius: 15px;

    padding: 1vh 1vw;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.095em;

    color: #000000;

    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.01);
}

.limited-offer-btn {

    border: 1px solid #FD5757;
    border-radius: 15px;
    background-color: transparent;
    padding: 1vh 1vw;
    height: 5vh;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #FD5757;
}


.internship-opportunity-card {

    padding: 3vh 1vw;
    display: flex;
    gap: 0.5vw;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    margin: 2vh 0;
    background: linear-gradient(90.22deg, rgba(255, 252, 252, 0.46) 0.38%, rgba(255, 249, 249, 0.42) 103.13%);
    box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid;
}

.tec-info {
    width: 90%;
}

.tec-title-1 {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.125em;
    text-align: left;
    text-transform: uppercase;
}

.tec-title-2 {
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 700;
    /* line-height: 40px; */
    letter-spacing: 0.155em;
    text-align: left;
}

.internship-desc {
    display: flex;
    align-items: center;
    gap: 3vw;

}

.mode-duration {
    display: flex;
    align-items: center;
    gap: 1vw;
    width: 20vw;
    border: 2px solid black;
    border-radius: 30px;
    padding: 1vh 1vw;

    background: linear-gradient(93.98deg, rgba(250, 248, 248, 0.4) 0.75%, rgba(241, 231, 231, 0.3) 97.74%);
    border: 1px solid #FFFDFD;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 253, 253, 0.4);
    backdrop-filter: blur(8px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;

    font-family: 'Barlow';
    font-size: 22px;
    font-weight: 400;
    /* line-height: 39px; */
    letter-spacing: 0.035em;
    text-align: left;


}

.vertical-line {
    border: 1px solid black;
    height: 3vh;
    width: 0vw;
}

.amount {
    display: flex;
    align-items: center;
    gap: 2vw;
    border: 2px solid black;
    border-radius: 20px;
    padding: 1vh 1vw;
    height: 6vh;
    width: 14vw;
    /* Rectangle 53 */

    background: linear-gradient(93.98deg, rgba(250, 248, 248, 0.4) 0.75%, rgba(241, 231, 231, 0.3) 97.74%);
    border: 1px solid #FFFDFD;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 253, 253, 0.4);
    backdrop-filter: blur(8px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;


    /* RS 6000 */

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 163.5%;
    /* or 40px */
    letter-spacing: 0.035em;

    color: #000000;

}

.amount img {
    height: 3vh;
}

.tec-stack {
    width: 20vw;
    list-style: none;
    display: flex;
    gap: 1vw;
    justify-self: end;
    flex-wrap: wrap;
}

.tec-stack li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    letter-spacing: 0.02em;

    color: #090808;

    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.01);

    border: 1px solid #090808;
    box-shadow: 0px 0px 0px 4px #FFFFFF03;
    border-radius: 15px;
    padding: 0.3vh 0.3vw;
}

/* ------------------------------ */

.internship-opportunity-list-mobile {
    display: none;
}

.internship-opportunity-card-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem;
    margin: 2rem 0;
    background: linear-gradient(90.22deg, rgba(255, 252, 252, 0.46) 0.38%, rgba(255, 249, 249, 0.42) 103.13%);
    box-shadow: 0px 0px 0px 4px rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid;
}

.card-head-mobile {
    display: flex;
    /* justify-content:; */
    gap: 1vh;
    align-items: center;
}

.tech-info {
    display: flex;
    flex-direction: column;
}

.tech-logo {
    height: 5rem;
    width: 5rem;
}

.tech-info-title1-mobile, .tech-info-title2-mobile {
    font-family: 'Poppins';
    text-align: left;
}

.tech-info-title1-mobile {
    letter-spacing: 0.125em;
    font-weight: 400;
    text-transform: uppercase;
}

.tech-info-title2-mobile {
    font-weight: 700;
    letter-spacing: 0.155em;
}

.mode-duration-amount {
    display: flex;
    gap: 1rem;
}

.mode-duration-mobile, .amount-mobile {
    height: 3rem;
}

.mode-duration-mobile {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 2px solid black;
    border-radius: 30px;
    padding: 1vh 1vw;

    background: linear-gradient(93.98deg, rgba(250, 248, 248, 0.4) 0.75%, rgba(241, 231, 231, 0.3) 97.74%);
    border: 1px solid #FFFDFD;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 253, 253, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 10px;

    font-family: 'Barlow';
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.035em;
    text-align: left;
}


.amount-mobile {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid black;
    border-radius: 20px;
    padding: 1vh 1vw;

    background: linear-gradient(93.98deg, rgba(250, 248, 248, 0.4) 0.75%, rgba(241, 231, 231, 0.3) 97.74%);
    border: 1px solid #FFFDFD;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 253, 253, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 10px;


    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    /* font-size: 22px; */
    line-height: 163.5%;
    /* or 40px */
    letter-spacing: 0.035em;
    color: #000000;
}

.amount-mobile img {
    height: 1.5rem;
    width: 1.5rem;
}

.tec-stack-mobile {
    padding: 1rem;
}

.tec-stack-mobile ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.tec-stack-mobile ul li {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 150%;
    letter-spacing: 0.02em;

    color: #090808;

    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.01);

    border: 1px solid #090808;
    box-shadow: 0px 0px 0px 4px #FFFFFF03;

    border-radius: 1rem;
    padding: 0.4rem;
}

.apply-btn {
    background: linear-gradient(93.98deg, rgba(250, 248, 248, 0.4) 0.75%, rgba(241, 231, 231, 0.3) 97.74%);
    border: 1px solid #FFFDFD;
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);
    border-radius: 15px;

    padding: 1vh 1vw;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.095em;

    color: #000000;

    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.01);

    width: 10rem;
}

/* internship section ends here*/



#link-container {
    margin: 3vh auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#link-container div ul {
    list-style: none;
}

#link-container div ul li a {
    color: black;
    text-decoration: none;
    letter-spacing: 1px;

    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: left;
}

#link-container div ul li a:hover {
    background-color: #2eb2ff80;
}

/* link section ends here */

footer {
    height: 15vh;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 100vw;
    background-color: #212121;
    margin-top: 15vh;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-align: left;
}

footer hr {
    border: 1px solid #14FFEC
}

/* footer ends here*/



@media (max-width:60em) {
    .header {
        position: relative;
    }

    .navbar {
        width: 100%;
        height: 100vh;
        background-color: rgb(61, 60, 60);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbar-list {
        flex-direction: column;
    }

    .mobile-navbar-btn {
        display: flex;
        z-index: 999;
    }

    .close-outline {
        display: none;
    }

    .active .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile-navbar-icon[name="close-outline"] {
        display: block;
    }

    .active .mobile-navbar-btn .mobile-navbar-icon[name="menu-outline"] {
        display: none;
    }

    /* nav-bar ends here*/
    .hero-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5vmax;
    }

    .container {
        width: 100%;
        padding: 3vh 3vw;
        gap: 0px;
        margin: 1rem auto;
    }

    .left-container h1 {
        text-align: center;
    }

    .right-container img {
        height: 20%;
    }

    .searchbox {
        width: 60%;
        padding: 0 1rem;
        height: 4vmax;
        font-size: 1rem;
    }

    .content-container {
        flex-direction: column;
    }

    .left-container, .right-container {
        width: 100%;
    }

    .left-container {
        font-family: 'Barlow';
        font-weight: 800;
        letter-spacing: 0.325em;
        text-align: left;
        font-size: 3vmin;
    }

    .apply-now-btn {
        width: 20vmax;
        font-size: 1em;
    }

    /* hero section ends here */

    #intern-container-id {
        padding: 4vmin 3vmax;
    }

    .intern-title {
        font-size: 1em;
    }

    .intern-content-left {
        font-size: 5vmin;
        line-height: 6vmin;
        margin-top: 1rem;
    }

    #intern-para {
        margin-top: 1vh;
        font-size: 1rem;
        line-height: normal;
    }


    #intern-btn {
        margin-top: 1rem;
        width: 20vmax;
        font-size: 2vmin;
        padding: 1vh;
        line-height: normal;
    }

    .intern-right-content-bg {
        width: 60%;
    }

    .intern-right-content-bg img {
        height: 12vmin;
        width: 6vmax;
    }

    .intern-left-content-bg {
        display: none;
    }

    /* Internship and offer btn */

    .virtual-internship-btn, .limited-offer-btn {
        height: auto;
        width: auto;
        border-radius: 1.5rem;
        padding: 0.5rem;
        line-height: normal;
        font-size: 1rem;
    }

    /* internship card*/
    .internship-opportunity-list-mobile {
        display: block;
    }

    #internship-opportunity-list {
        display: none;
    }

    /* internship-section ends here*/


    #link-container {
        flex-direction: column;
    }

    .topic-link{
        padding: 4rem;
    }

    #link-container div ul li a {
        font-size: 1.2rem;
        letter-spacing: 0.05em;
    }

    /* link section ends here */

    footer {
        height: 25rem;
    }

    footer ul {
        flex-direction: column;
        height: 100%;
        width: 100vw;
    }

    footer ul li a {
        font-size: 1.5em;
        font-weight: 500;
        line-height: 1.6rem;
        letter-spacing: 1.25px;
    }
}